<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="copyright"
        th:text="${'&copy; ' + #temporals.year(#temporals.createToday()) + ' Employee System'}"
        class="text-center">
    &copy; 2020 Employee System
</footer>
</body>
</html>
