<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-4">
            <a class="navbar-brand" th:href="@{/}">Home</a>
        </nav>
    </div>
</div>
</body>
</html>
