<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common_header('Terjadi Kesalahan')">
<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser.
    Please <a href="https://browsehappy.com/">upgrade your browser</a> to
    improve your experience and security.</p>
<![endif]-->
<div class="container">
    <h1 class="text-center">Halaman tidak ditemukan</h1>
    <div class="text-center">
        <a th:href="@{/}" class="btn btn-primary">Kembali ke Home</a>
    </div>
</div>
</body>
</html>
