<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common_header('Employee - ' + ${editEmployeeForm.name})">
</head>
<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser.
    Please <a href="https://browsehappy.com/">upgrade your browser</a> to
    improve your experience and security.</p>
<![endif]-->

<nav th:include="fragments/nav"></nav>
<div class="wrapper">
    <div class="container">
        <form id="edit-employee-form" method="post"
              th:action="@{|/employee/${editEmployeeForm.id}|}"
              th:object="${editEmployeeForm}">
            <div th:if="${true == savedSuccess}" class="alert alert-success">
                Berhasil disimpan
            </div>
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="input-name">Nama</label>
                <input type="text" class="form-control" id="input-name"
                       placeholder="Nama pegawai" th:field="*{name}"/>
                <span class="alert alert-danger"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">
                    Name Error
                </span>
            </div>
            <div class="form-group">
                <label for="input-age">Umur</label>
                <input type="number" class="form-control" id="input-age"
                       min="17" max="60"
                       placeholder="Umur pegawai" th:field="*{age}"/>
                <span class="alert alert-danger"
                      th:if="${#fields.hasErrors('age')}"
                      th:errors="*{age}">
                    Age Error
                </span>
            </div>
            <div class="form-group">
                <label for="input-salary">Gaji</label>
                <input type="number" class="form-control" id="input-salary"
                       min="2900000" max="15000000"
                       placeholder="Gaji pegawai"
                       th:name="salary"
                       th:value="${#numbers.formatInteger(editEmployeeForm.salary, 0)}"/>
                <span class="alert alert-danger"
                      th:if="${#fields.hasErrors('salary')}"
                      th:errors="*{salary}">
                    Salary Error
                </span>
            </div>
            <div class="form-group">
                <label>Terdaftar pada</label>
                <strong
                    th:text="*{#temporals.format(registeredAt, 'dd MMMM yyyy HH:mm')}"></strong>
            </div>
        </form>
        <div class="form-group">
            <button type="submit"
                    class="btn btn-primary"
                    form="edit-employee-form">
                Simpan
            </button>
            <form id="delete-employee-form" method="post"
                  th:action="@{|/delete-employee/${editEmployeeForm.id}|}"
                  class="float-right">
                <button type="submit" class="btn btn-danger"
                        onclick="if
                        (!confirm('Apakah anda yakin ingin menghapus empoyee ini?')) {return false;}"
                        form="delete-employee-form">
                    Hapus
                </button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: copyright"></footer>
</body>
</html>
