<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common_header('Home')">
</head>
<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser.
    Please <a href="https://browsehappy.com/">upgrade your browser</a> to
    improve your experience and security.</p>
<![endif]-->

<nav th:include="fragments/nav"></nav>
<div class="wrapper">
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Umur</th>
                <th scope="col">Gaji</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee, stat: ${employees}">
                <th scope="row" th:text="${stat.count}">1</th>
                <td>
                    <a th:href="@{|/employee/${employee.id}|}"
                       th:text="${employee.name}">
                        John
                    </a>
                </td>
                <td th:text="${employee.age}">25</td>
                <td th:text="${#numbers.formatCurrency(employee.salary)}">10000000</td>
            </tr>
            </tbody>
        </table>

        <div class="container">
            <a th:href="@{/add-employee}" class="btn btn-primary">Tambah Pegawai</a>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: copyright"></footer>
</body>
<script type="javascript" th:src="@{/js/bootstrap.min.js}"></script>
</html>
